@tailwind base;
@tailwind components;
@tailwind utilities;

.player-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.single_box {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aside1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.aside2 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#bg-image {
  background-image: url("../image/ground1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
